# Telegram Bot
BOT_TOKEN=8938241930:AAGin5bmqhscPr5M0phN8BGBAbvS2PB8VvA
ADMIN_IDS=8108649608
SUPPORT_URL=https://t.me/daggerVPN_support

# Payment Provider (Platega)
PAYMENT_PROVIDER=platega
PLATEGA_API_URL=https://app.platega.io/api/v1
PLATEGA_MERCHANT_ID=ваш_merchant_id_от_platega
PLATEGA_SECRET=ваш_secret_key_от_platega

# Remnawave API
REMNAWAVE_API_URL=https://panel.daggervpn.ru/api
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiOGExZDZlNDEtYjNlYi00YjQ1LThhZjgtMjFmYmUwNmE1MGY5IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3ODY3OTgzOTEsImV4cCI6MjY1MDcxMTk5MX0.wHHDqvqizbuQmMj0FptIuqaaSyoaLiMb0rRhc2FK0sM
REMNAWAVE_PANEL_COOKIE=

# Server settings
PORT=3000
WEBHOOK_URL=https://your-domain.com
