# Telegram Bot
BOT_TOKEN=8938241930:AAGin5bmqhscPr5M0phN8BGBAbvS2PB8VvA
ADMIN_IDS=8108649608
SUPPORT_URL=https://t.me/daggerVPN_support

# Platega
PLATEGA_API_URL=https://app.platega.io/api/v1
PLATEGA_MERCHANT_ID=48d2e9d3-ef01-45d6-9a66-ae48357bd3fe
PLATEGA_SECRET=whizsAu6SA38xhxUIKuWJcmktCnXdSRxHdhDIrWGk0wfeBM9pnrstHTmo6fPTOObT9byKIWtJA0c9VsEDt8EeHNiBw4GWSMx1Kxd

# Remnawave
REMNAWAVE_API_URL=https://panel.daggervpn.ru/api
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiOGExZDZlNDEtYjNlYi00YjQ1LThhZjgtMjFmYmUwNmE1MGY5IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3ODY3OTgzOTEsImV4cCI6MjY1MDcxMTk5MX0.wHHDqvqizbuQmMj0FptIuqaaSyoaLiMb0rRhc2FK0sM

# Server
PORT=3000
WEBHOOK_URL=https://your-domain.com
